{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  My Dashboard
{% endblock %}

{% block content %}
  <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <h1 class="display-3 mb-3 animated slideInDown">Welcome to Your Dashboard, {{ user.username }}!</h1>
    </div>
  </div>

  <div class="container-xxl py-2">
    <div class="container">
      <div class="row g-5">
        <!-- Sidebar Navigation -->
        <div class="col-lg-3">
          <!-- Collapsible Toggle Button for Small Screens -->
          <button class="btn btn-primary d-lg-none w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#vPillsCollapse" aria-expanded="false" aria-controls="vPillsCollapse"><i class="fas fa-bars me-2"></i> My Dashboard Menu</button>

          <!-- Vertical Pills (Collapsible on Small Screens, always visible on Large) -->
          <div class="collapse d-lg-block" id="vPillsCollapse">
            <div class="nav flex-column nav-pills me-3 shadow-sm rounded p-3 bg-light" href="{% url 'user_app:user_dashboard' %}?tab=wishlist" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link  mb-2 {% if active_tab == 'wishlist' %}active{% endif %}"
                id="v-pills-wishlist-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-wishlist"
                type="button"
                role="tab"
                aria-controls="v-pills-wishlist"
                aria-selected="{% if active_tab == 'wishlist' %}
                  true
                {% else %}
                  false
                {% endif %}">
                <i class="fas fa-heart me-2"></i> Favourite Products
              </a>
              <a class="nav-link mb-2 {% if active_tab == 'profile' %}active{% endif %}"
                href="{% url 'user_app:user_dashboard' %}?tab=profile"
                id="v-pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-profile"
                type="button"
                role="tab"
                aria-controls="v-pills-profile"
                aria-selected="{% if active_tab == 'profile' %}
                  true
                {% else %}
                  false
                {% endif %}">
                <i class="fas fa-user-edit me-2"></i> Update Profile
              </a>
              <a class="nav-link mb-2 {% if active_tab == 'orders' %}active{% endif %}"
                href="{% url 'user_app:user_dashboard' %}?tab=orders"
                id="v-pills-orders-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-orders"
                type="button"
                role="tab"
                aria-controls="v-pills-orders"
                aria-selected="{% if active_tab == 'orders' %}
                  true
                {% else %}
                  false
                {% endif %}">
                <i class="fas fa-history me-2"></i> Order History
              </a>
              <a href="{% url 'user_app:logout' %}" class="nav-link text-danger"><i class="fas fa-sign-out-alt me-2"></i> Logout</a>
            </div>
          </div>
        </div>

        <!-- Content Area -->
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane {% if active_tab == 'wishlist' %}
                fade show active
              {% else %}
                fade
              {% endif %}"
              id="v-pills-wishlist"
              role="tabpanel"
              aria-labelledby="v-pills-wishlist-tab">
              <!-- Wish list Product Section -->
              {% include 'user_app/includes/wish_list_product.html' %}
            </div>
            <div class="tab-pane {% if active_tab == 'profile' %}
                fade show active
              {% else %}
                fade
              {% endif %}"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab">
              <!-- Update Profile Section -->
              {% include 'user_app/includes/user_profile_update.html' %}
            </div>

            <div class="tab-pane {% if active_tab == 'orders' %}
                fade show active
              {% else %}
                fade
              {% endif %}"
              id="v-pills-orders"
              role="tabpanel"
              aria-labelledby="v-pills-orders-tab">
              <!-- Order History Section -->
              {% include 'user_app/includes/order_list.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
