{% block content %}
<div class="tab-pane fade show active" id="v-pills-profile">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <h3 class="mb-4">Personal Information</h3>
  <form method="POST" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">
      <label class="form-label">First Name</label>
      {{ form.first_name }}
    </div>
    <div class="col-md-6">
      <label class="form-label">Last Name</label>
      {{ form.last_name }}
    </div>
    <div class="col-md-6">
      <label class="form-label">Phone</label>
      <div class="d-flex gap-2">{{ form.phone_number.0 }}
        {{ form.phone_number.1 }}</div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      {{ form.email }}
    </div>
    <div class="col-12">
      <label class="form-label">Shipping Address</label>
      {{ form.address }}
    </div>
    <div class="col-12">
      <button class="btn btn-primary rounded-pill py-2 px-4">Save Changes</button>
    </div>
  </form>
</div>
{% endblock  %}