{% load static %}

{% block content %}
  <div class="tab-pane fade" id="v-pills-wishlist">
    <!-- Product Section Start -->
    <div class="container-xxl py-2">
      <div class="container">
        <div class="tab-content">
          <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="row g-4">
              <!-- Product Item with Discount -->
              <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item">
                  <div class="position-relative bg-light overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'user_app/img/product-1.jpg' %}" alt="" />
                    <!-- Modern Badge -->
                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">-20% OFF</div>
                  </div>
                  <div class="text-center p-4">
                    <a class="d-block h5 mb-2" href="">Fresh Tomato</a>
                    <span class="text-primary me-1">$15.00</span>
                    <span class="text-body text-decoration-line-through">$25.00</span>
                    <div class="text-warning mt-2">
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star text-muted"></small>
                    </div>
                  </div>
                  <div class="d-flex border-top">
                    <small class="w-50 text-center border-end py-2"><a class="text-body" href="{% url 'product_detail' %}"><i class="fa fa-eye text-primary me-3"></i></a></small>
                    <small class="w-50 text-center py-2"><a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-3"></i></a></small>
                  </div>
                </div>
              </div>

              <!-- Repeat more product items here... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
