{% load static %}
<div class="tab-pane fade" id="tab-category">
  <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
    <h3 class="mb-2 mb-md-0">Manage Categories</h3>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">+ Add Category</button>
  </div>
  <div class="table-responsive bg-white p-3 rounded shadow-sm">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Total Products</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr id="category-row-{{category.id}}">
            <td id="category-name-{{category.id}}" class="category-name">{{ category.name }}</td>
            <td>{{ category.products.count }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary update-category-btn"
                      data-category-id="{{category.id}}"
                      data-category-name="{{category.name}}"
                      data-edit-url="{% url 'product_app:edit_category' category.id %}">
                      <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger delete-category-btn"
                      data-category-id="{{category.id}}"
                      data-delete-url="{% url 'product_app:delete_category' category.id %}">
                      <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
