{% load static %}
<div class="tab-pane fade" id="tab-products">
  <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
    <h3 class="mb-2 mb-md-0">Manage Inventory</h3>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">+ Add Product</button>
  </div>
  <div class="table-responsive bg-white p-3 rounded shadow-sm">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>
              <img src="{% static 'user_app/img/product-'|add:product.id|add:'.jpg' %}" />
            </td>
            <td>{{ product.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.stock }} kg</td>
            {% if product.is_available == True %}
            <td>
              <span class="badge bg-success">Available</span>
            </td>
            {% else %}  
            <td>
              <span class="badge bg-danger">Unavailable</span>
            </td>
            {% endif %}
            <td>
              <button class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
